
# do not push data folder

data/*
*.swp
/.vscode
*.pyc

# push processed data file
!data/airhockey_processed/
data/airhockey_processed/*
!data/airhockey_processed/all_data_march.csv
!data/airhockey_processed/data_consistent_march.csv