<?xml version="1.0"?>

<!--|
    Copyright (C) 2019 Learning Algorithms and Systems Laboratory, EPFL, Switzerland
    Authors:  Harshit Khurana, Daan Stokbroekx
    email:    harshit.khurana@epfl.ch
    website:  lasa.epfl.ch

    This file is part of i_am_project EPFL (impact aware manipulation).
|-->

<launch>
  <include
      file = "$(find dual_iiwa_toolkit)/launch/passive_track_gazebo.launch">
  </include>

  <rosparam file="$(find i_am_project)/config/1v1_params.yaml" />

  <node name="initialization" pkg="i_am_project" type="1v1_init" />

  <!--node name="motion_gen" pkg="iiwa_test_motion" type="motion_gen_dual" />
  <node name="mode_control" pkg="iiwa_test_motion" type="mode_ctrl" /-->        <!--manual control-->

  
  <!-- Here is the node that allows me to hit the object in the iiwa simulator -->
  <node name="hitting_1v1" pkg="i_am_project" type="1v1_hitting"   output="screen"/>


</launch>

