<?xml version="1.0"?>

<!--|
    Copyright (C) 2019 Learning Algorithms and Systems Laboratory, EPFL, Switzerland
    Authors:  Harshit Khurana
    email:    harshit.khurana@epfl.ch
    website:  lasa.epfl.ch

    This file is part of i_am_project EPFL (impact aware manipulation).
|-->

<launch>

    <!-- Launch gazebo + world -->
    <include file="$(find iiwa_toolkit)/launch/passive_track_gazebo.launch" /> 
    <include file="$(find i_am_project)/launch/spawn_env.launch" /> 

    <!-- Communication + control AGX -->
    <node pkg = "rosbridge_server" type = "rosbridge_websocket"  name = "rosbridge_websocket" output="screen"/>
    <node pkg = "i_am_project" type = "agx_control.py"  name = "agx_control" output="screen"/>

    <!-- Launch AGX sim in another terminal and launch controller:
    roslaunch i_am_project hit_with_momentum.launch -->

</launch>

