<?xml version="1.0"?>

<!--|
    Copyright (C) 2019 Learning Algorithms and Systems Laboratory, EPFL, Switzerland
    Authors:  Harshit Khurana
    email:    harshit.khurana@epfl.ch
    website:  lasa.epfl.ch

    This file is part of i_am_project EPFL (impact aware manipulation).
|-->

<launch>


  <!-- <node name = "spawn_urdf" pkg="gazebo_ros" type="spawn_model" /> -->

  <!-- We include the iiwa gazebo simulation first here, so that we build up on that and do not really change that simulation -->
  
  <include
      file = "$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
      <arg name="paused" default="true"/>
  </include>

  <!-- Here Let me add an object that can be added to the simulator -->

  <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" 
  args="-file $(find i_am_project)/object_models/box.urdf -x 1.0 -z 0.2 -urdf -model box_model" />


  <!-- Here is the node that allows me to hit the object in the iiwa simulator -->
  <node pkg = "i_am_project" type = "hitting"  name = "hitting" output="screen"/>


</launch>

