<?xml version="1.0"?>
<!--|
    Copyright (C) 2019 Learning Algorithms and Systems Laboratory, EPFL, Switzerland
    Authors:  Harshit Khurana
    email:    harshit.khurana@epfl.ch
    website:  lasa.epfl.ch

|-->

<launch>

   <!-- This launch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->

  <node name = "spawn_urdf" pkg="gazebo_ros" type="spawn_model" />
</launch>
